:root * {
  box-sizing: border-box;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  position: relative;
}

.board button {
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

button {
  border: 1px solid rgb(202, 202, 202);
}

.board > div {
  width: 100%;
  height: 15px;
}

.startCol {
  border-top: 1px solid blue;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  border-right: none;
}

.endCol {
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: none;
}

.midCol {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-right: none;
  border-left: none;
}

.onlyCol {
  border: 1px solid blue;
}

.ship {
  background-color: grey;
}

#player1, #player2 {
  display: flex;
}

#p1ShipPlacement > button, #p2ShipPlacement > button {
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
  font-size: 16px;
  background-color: #1F2937;
  color: #fff;
}

#p1Submit, #p1Cancel, #p2Submit, #p2Cancel {
  padding: 10px;
  border-radius: 16px;
  font-size: 16px;
  margin: 4px;
  background-color: #1F2937;
  color: #fff;
}

#p1ShipPlacement > button:hover, #p2ShipPlacement > button:hover,
#p1Submit:hover, #p1Cancel:hover, #p2Submit:hover, #p2Cancel:hover {
  background-color: #9CA3AF;
  color: #000;
}

#turnDialog {
  position: absolute;
  top: 5px;
  border-radius: 25px;
  width: max-content;
  padding: 4px;
  margin: 0px auto;
  font-size: 14px;
  transition: visibility 2s;
}

#turnDialog > p {
  margin: 2px;
}

.invisible {
  visibility: hidden;
}

#infoDiv {
  border: 2px red solid;
  border-radius: 10px;
  background-color: rgb(223 223 84);
  margin: auto;
  padding: 3px;
}

.winDialog {
  height: 90vh;
}