:root * {
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.board button {
  width: 20px;
  height: 100%;
  margin: 0;
}

button {
  border: 1px solid rgb(202, 202, 202);
}

.board > div {
  height: 20px;
}

.startCol {
  border-top: 1px solid blue;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  border-right: none;
}

.endCol {
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: none;
}

.midCol {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-right: none;
  border-left: none;
}

.onlyCol {
  border: 1px solid blue;
}

.ship {
  background-color: grey;
}

#player1, #player2 {
  display: flex;
}

#p1ShipPlacement > button, #p2ShipPlacement > button {
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
  font-size: 16px;
}